body {
	background-color: #e9e9e9;
	padding: 0px;
	margin:0px;
}
.header {
	width: 803px;
	height: 53px;
	font-family: Baskerville;
	font-size: 50px;
	letter-spacing: 3.1px;
	text-align: left;
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: 20%;

}
.copy {
	width: 803px;
	font-family: Inconsolata;
	font-size: 18px;
	text-align: left;
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: 27%;
}

.h2 {
	width: 803px;
	font-family: Inconsolata;
	font-size: 20px;
	letter-spacing: 1.3px;
	text-align: left;
	margin-top:30px;
	margin-bottom:30px;
	margin-left: 25%;
}

#red {
	padding-top: 60px;
	color:#e9e9e9;
	height: 767px;
	background-color: #932121;
}
#top{
	height: 548px;
	width: 100%;
	background:no-repeat;
	background-position:top;
	background-color: black;
	background-image: url("Top.png");
}

#bottom{
	height: 15px;
	width: 100%;
	background:no-repeat;
	background-position:bottom;
	background-color:#2b2623;
	color:grey;
	padding-top:50px;
	padding-bottom: 20px;
}

#summarydesc {
	margin-top:-100px;
}
#summary {
	color:white;
	margin-bottom: 60px;
}
#sumcopy {
	margin-top:60px;
	margin-bottom:100px;
}
#info {
	text-align: center;
	font-family: Inconsolata;
	font-size:15px;
}
#exp {
	margin-top: 200px;
	margin-bottom: 300px;
}

#menu {
	background-color:#2b2623;
	width: 100%;
	color: white;
	height: 70px;
	position: fixed;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 5px;
	opacity:0.95;
}


#menuhead {
	font-size: 30px;
	font-family:Baskerville;
	margin-left: 40px;


}
#menuh2 {
	font-size: 15.5px;
	font-family:Baskerville;
	margin-left: 40px;


}
#menulinks {
	font-family: Inconsolata;
	font-size: 15px;
	text-align: right;
	margin-right: 30px;
	text-decoration: none;
}


a.menu {
	color:white;
	text-decoration:none;
}
a.menu:hover {
	color: gray;
}


@media only screen and (max-width: 1024px) {
	body{
		background:limegreen;
	}
	.copy, .h2 {
		width:50%;
	}
	.header{
		font-size: 40px;
		margin-bottom: 50px;
		width: 70%;
	}
	.h2 {
		font-size: 20px;
	}
	.copy{
		font-size: 18px;
	}
	#red {
		padding-top: 30px;
		padding-bottom: 50px;
		height: 30%;
	}
	#menulinks {
		text-align: right;
		font-size: 13px;
	}

}
@media only screen and (max-width:768px) {
		body{
		background:cyan;
	}
	.copy, .h2 {
		width:50%;
	}
	.header{
		font-size: 30px;
		margin-bottom: 20px;
		width: 70%;
	}
	.h2 {
		font-size: 18px;
	}
	.copy{
		font-size: 15px;
	}
	#red {
		padding-top: 10px;
		padding-bottom: 50px;
		height: 30%;
	}
	#menulinks {
		text-align: center;
		font-size: 12px;
		margin-right: 0px;
	}
	#menuhead, #menuh2 {
		margin-left: 0px;
	}
	#menu{
		text-align: center;
	}
}
