body {
	background: lightgrey;
}

div#sidebar {
		background-color:black;
		width:200px;
		color:white;
		padding-left: 10px;
		height: 100%;
		margin:0px;
	}	
.header {
	font-family: Avenir Next;
}
div#name {
	font-size: 20px;
}